# Default ignored files
/../../../../Développement/EntrepeneurialProject/DesignPatternReforged/.idea/shelf/
/../../../../Développement/EntrepeneurialProject/DesignPatternReforged/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Développement/EntrepeneurialProject/DesignPatternReforged/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../../Développement/EntrepeneurialProject/DesignPatternReforged/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../../Développement/EntrepeneurialProject/DesignPatternReforged/.idea/dataSources/
/../../../../Développement/EntrepeneurialProject/DesignPatternReforged/.idea/dataSources.local.xml
